<div style="
     position: absolute;
     {#     background-color: #1ab7ea;#}
     width: 300px;
     top: 0px;
     bottom: 0px;
     right: 0px;
     overflow-y: scroll;
     z-index: 2;
     ">
    {{ include('@Home/home/sub/iconExplanation/configuration.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/video.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/media.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/artist.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/profile.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/list.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/datamining.html.twig') }}

    <div id="backgroundOptionsContent" class="tqm"
         style='
         position: absolute;
         opacity: 0.3;
         z-index: 1;
{#         background-color: gray;#}
         width: 300px;
         top: 0px;
         bottom: 0px;
         right: 0px;
         transition-property: all;
         transition-duration: 0.5s;'>
    </div>
</div>